@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

h1{
    font-family: "Grenze Gotisch";
}