@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

html {
  scroll-behavior: smooth;
  background-color: #141414;
  padding: 0%;
  margin: 0%;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
}

header img {
  height: 4rem;
  border: rgb(236, 204, 21) solid 2px;
  border-radius: 150px;
  background-color: white;
  margin: 7px;
}

h1 {
  font-family: "Grenze Gotisch";
  color: rgb(236, 204, 21);
  font-size: 6rem;
  margin: 0px;
  padding: 0%;
  text-shadow: rgb(168, 109, 0) 2px 2px 0px;
  line-height: 70%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.new > img {
  width: 10%;
  position: fixed;
  top: 18.75%;
  left: 19.45%;
  z-index: 1;
}

.imgCont {
  display: flex;
  justify-content: center;
}

.adds {
  margin: 10px;
  display: flex;
  position: relative;
  width: 60%;
  margin-top: 3%;
}

.adds > img {
  width: 100%;
  border: solid white 5px;
  border-radius: 10px;
  z-index: 1;
}

.adds > .new {
  width: 15%;
  position: absolute;
  top: -1.6%;
  left: -0.9%;
  border: black solid 0px;
  z-index: 1;
}

.text {
  width: 31%;
  position: absolute;
  left: 70%;
  top: 20%;
}

.date {
  width: 31%;
  position: absolute;
  left: 35%;
  top: 90%;
}

.text > b {
  font-family: "Crimson Text";
  font-size: 4rem;
  text-align: center;
  color: red;
  margin: 0%;
}

.date > p {
  color: rgb(85, 170, 207);
  text-shadow: rgb(0, 0, 0) 0px 1px 1px;
  font-size: 2.7rem;
  text-align: center;
  font-family: "Crimson text";
  margin: 0%;
}

.tanjiro > img {
  position: absolute;
  right: -28.5%;
  bottom: -10%;
  width: 42%;
  border: solid black 0px;
  border-radius: 0% 0% 10% 0%;
  z-index: 1;
  
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.links > a {
  text-decoration: none;
  color: orange;
  font-size: 2rem;
  background-color: #444444;
  border: solid gold 1px;
  border-radius: 40px;
  padding: 0px 5px 0px 5px;
  margin-top: 7%;
}

footer {
  background-color: gray;
  margin-top: 3.5%;
}

.button > img {
  width: 60%;
  height: 50%;
  top: 400px;
  z-index: -3;
  position: absolute;
}

.adds > #cp2077t {
  position: absolute;
  border: solid white 5px;
  border-radius: 10px;
  width: 100%;
}

.play>button{
  position: absolute;
  left: 6px;
  bottom: 6px;
  padding: 0%;
  margin: 0%;
  width: 23px;
  height: 21px;
  z-index: 1;
}


.pause>button{
  position: absolute;
  left: 30px;
  bottom: 6px;
  padding: 0%;
  margin: 0%;
  width: 23px;
  height: 21px;
  z-index: 1;
}
