@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

html {
  scroll-behavior: smooth;
  background: rgb(255, 196, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 196, 0, 1) 0%,
    rgb(238, 218, 0, 1) 4%,
    rgba(191, 149, 63, 1) 8%,
    rgba(20, 20, 20, 1) 12%,
    rgba(20, 20, 20, 1) 88%,
    rgba(191, 149, 63, 1) 92%,
    rgba(238, 218, 0, 1) 96%,
    rgba(255, 196, 0, 1) 100%
  );
  padding: 0%;
  margin: 0%;
}

body {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: black;
  border-bottom: orange 3px solid;
}

header img {
  height: 4rem;
  border: gold solid 2px;
  border-radius: 100%;
  background-image: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  margin: 7px;
}

h1 {
  font-family: "Grenze Gotisch";
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  font-size: 4rem;
  margin: 0px;
  padding: 0%;
  line-height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-animation-rev 0.5s ease forwards;
}
h1:hover {
  animation: text-animation 0.5s ease-in forwards;
}

@keyframes text-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes text-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.new > img {
  width: 10%;
  position: fixed;
  top: 18.75%;
  left: 19.45%;
  z-index: 1;
}

.imgCont {
  display: flex;
  justify-content: center;
}

.adds {
  margin: 10px;
  display: flex;
  position: relative;
  width: 65%;
  margin-top: 2.7%;
}

.adds > img {
  width: 100%;
  border: solid white 5px;
  border-radius: 10px;
  z-index: 1;
}

.adds > .new {
  width: 15%;
  position: absolute;
  top: -1.6%;
  left: -0.9%;
  border: black solid 0px;
  z-index: 2;
}

.tanjiro > img {
  position: absolute;
  left: 87.2%;
  bottom: -18.5%;
  width: 39.7%;
  border: solid black 0px;
  z-index: 1;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.links > a {
  text-decoration: none;
  background: linear-gradient(
    -72deg,
    #ffde45,
    #ffffff 16%,
    #ffde45 21%,
    #ffffff 24%,
    #452100 27%,
    #ffde45 36%,
    #ffffff 45%,
    #ffffff 60%,
    #ffde45 72%,
    #ffffff 80%,
    #ffde45 84%,
    #452100
  );
  animation: text-animation-rev 0.3s ease forwards;
  color: black;
  font-size: 2rem;
  background-color: #111;
  border: solid gold 1px;
  border-radius: 4px;
  box-shadow: coral 0px 0px 15px;
  padding: 0px 5px 0px 5px;
  margin-top: 4.7%;
}
.links > a:hover {
  animation: text-animation 0.3s ease-in forwards;
}

footer {
  border-top: orange 3px solid;
  background-color: black;
  margin-top: 0%;
  color: orange;
}

footer > ul {
  margin: 0%;
}

.button > img {
  width: 60%;
  height: 50%;
  top: 400px;
  z-index: -3;
  position: absolute;
}

.adds > #cp2077t {
  position: absolute;
  border: solid white 5px;
  border-radius: 10px;
  width: 100%;
}

.play > button {
  position: absolute;

  background: -webkit-linear-gradient(
    132deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #a4a4a7 29%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  color: aqua;
  left: 7px;
  bottom: 7px;
  padding: 0%;
  margin: 0%;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.pause > button {
  position: absolute;
  background: -webkit-linear-gradient(
    132deg,
    #dedeff,
    #ffffff 16%,
    #dedeff 21%,
    #ffffff 24%,
    #a4a4a7 29%,
    #dedeff 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedeff 72%,
    #ffffff 80%,
    #dedeff 84%,
    #555564
  );
  color: aqua;
  left: 7px;
  bottom: 7px;
  padding: 0%;
  margin: 0%;
  width: 40px;
  height: 40px;
  z-index: -1;
}
